.results-container {
  width: 100%;
  height: 92vh;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #251e8f;
}

.route-left-side {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.route-card-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-card-first-row div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-status {
  width: 18px;
  height: 18px;
  background-color: #39da00;
  border-radius: 50%;
  margin: 5px 10px;
}

.price {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.route-card-second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-card-second-row-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.city {
  margin: 5px 0px;
  font-weight: bold;
}

.route-date {
  margin: 5px 0px;
  font-size: 14px;
  color: #4b558f;
}

.route-card-second-row-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

.route-card {
  width: 400px;
  height: 50vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.route-card-third-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.start-point {
  position: absolute;
  top: -5px;
  left: 75px;
  font-weight: bold;
}

.middle-point {
  position: absolute;
  top: -5px;
  left: 176px;
  font-weight: bold;
}

.end-point {
  position: absolute;
  top: -5px;
  right: 72px;
  font-weight: bold;
}

.route-img {
  width: 250px;
  margin-top: 40px;
}

.route-right-side {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.route-titles {
  font-size: 20px;
}

.route-card-img-container {
  width: 100%;
  height: 50%;
  background-image: url("../../assets/mapPinn.svg");
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.pin-loc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  animation: float 3s ease-in-out infinite;
  background-color: transparent;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
