.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
  height: 30vh;
  margin-top: 5px;
}

.login-title {
  color: #6c63ff;
  font-weight: bold;
}

.form-login {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #6c63ff;
  width: 22vw;
  height: auto;
  border-radius: 10px;
}

.form-rows-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0px;
}

.form-rows-container label {
  color: #251e8f;
  margin: 5px 0px;
}

.form-rows-container input {
  background-color: #d9d9d9;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  padding-left: 10px;
}

.form-rows-container input::placeholder {
  color: rgb(143, 143, 143);
}

.form-login button {
  width: 312px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: #6c63ff;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.form-login button:hover {
  transform: scale(1.05);
}
